<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <!-- the expression definitions -->
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="com.wuetherich.osgi.ds.annotations.ui.dsAnnotationProjectSelected">
			<with variable="selection">
				<count value="1" />
				<iterate ifEmpty="false" operator="and">
						<adapt type="org.eclipse.core.resources.IResource">
							<test property="org.eclipse.core.resources.projectNature"
								value="org.bundlemaker.core.bundlemakernature"/>
						</adapt>
				</iterate>
			</with>
		</definition>		              
	</extension>
   
   
   <extension
        point="org.eclipse.ui.commands">
      <command
            name="TEST COMMAND"
            description="TEST COMMAND DESCRIPTION"
            id="com.wuetherich.osgi.ds.annotations.ui.test">
      </command> 
   </extension>  
   
   <extension 
   		point="org.eclipse.ui.handlers">
          <handler
                class="com.wuetherich.osgi.ds.annotations.internal.TestHandler"
                commandId="com.wuetherich.osgi.ds.annotations.ui.test">
          </handler>
   </extension> 
   
    <extension
             point="org.eclipse.ui.menus">
             
              <menuContribution
                locationURI="popup:org.eclipse.ui.popup.any">
             <menu
                   id="com.wuetherich.osgi.ds.annotations.ui.tools"
                   label="com.wuetherich.osgi.ds.annotations.ui.tools">
                <visibleWhen
                      checkEnabled="false">
                   <or>
                      <reference
                            definitionId="org.eclipse.pde.ui.pluginFile">
                      </reference>
                      <reference
                            definitionId="org.eclipse.pde.ui.featureFile">
                      </reference>
                   </or>
                </visibleWhen>
             </menu>
          </menuContribution>
           <menuContribution
                allPopups="false"
                locationURI="popup:com.wuetherich.osgi.ds.annotations.ui.tools">
             <separator
                   name="group0"
                   visible="false">
             </separator>
             <command
                   commandId="com.wuetherich.osgi.ds.annotations.ui.test"
                   icon="icons/obj16/plugin_mf_obj.gif"
                   label="%command.openManifest.label"
                   style="push">
                <visibleWhen
                      checkEnabled="false">
                   <reference
                         definitionId="org.eclipse.pde.ui.pluginFile">
                   </reference>
                </visibleWhen>
             </command>
          </menuContribution>             
   </extension>
   
   
   <extension point="org.eclipse.ui.popupMenus">

      <objectContribution id="enableNatureAction"
                          objectClass="org.eclipse.core.resources.IProject"
                          adaptable="true">
         <action id="com.wuetherich.osgi.ds.annotations.enableNatureAction"
                 class="com.wuetherich.osgi.ds.annotations.internal.actions.EnableNatureAction"
                 label="Enable DS Annotations"
                 style="push"
	             menubarPath="org.eclipse.ui.projectConfigure/additions"
                 enablesFor="+"/>
         <visibility>
           <and>
             <objectState name="open" value="true"/>
             <not>
               <objectState name="nature" value="com.wuetherich.osgi.ds.annotations.dsAnnotationNature"/>
             </not>
           </and>
         </visibility>
      </objectContribution>
   </extension>
   
      <extension point="org.eclipse.ui.popupMenus">

      <objectContribution id="disableNatureAction"
                          objectClass="org.eclipse.core.resources.IProject"
                          adaptable="true">
         <action id="com.wuetherich.osgi.ds.annotations.disableNatureAction"
                 class="com.wuetherich.osgi.ds.annotations.internal.actions.DisableNatureAction"
                 label="Disable DS Annotations"
                 style="push"
	             menubarPath="org.eclipse.ui.projectConfigure/additions"
                 enablesFor="+"/>
         <visibility>
           <and>
             <objectState name="open" value="true"/>
             <objectState name="nature" value="com.wuetherich.osgi.ds.annotations.dsAnnotationNature"/>
           </and>
         </visibility>
      </objectContribution>
   </extension>
   
   <!-- define the preferences page -->
   <extension
       point="org.eclipse.ui.preferencePages">
     <page
          class="com.wuetherich.osgi.ds.annotations.internal.preferences.DsAnnotationsPropertyAndPreferencePage"
          id="com.wuetherich.osgi.ds.annotations.ui.preferences"
          name="DS Annotations" 
          category="org.eclipse.pde.ui.MainPreferencePage"/>
   </extension>
 
  <extension
         point="org.eclipse.ui.propertyPages">
      <page
          class="com.wuetherich.osgi.ds.annotations.internal.preferences.DsAnnotationsPropertyAndPreferencePage"
          id="com.wuetherich.osgi.ds.annotations.ui.properties"
          category="org.eclipse.pde.internal.ui.properties.pluginDevelopmentPage"
          name="DS Annotations" >
        <enabledWhen>
          <and>
            <adapt type="org.eclipse.core.resources.IProject">
              <test property="org.eclipse.core.resources.projectNature"
                    value="com.wuetherich.osgi.ds.annotations.dsAnnotationNature"/>
            </adapt>
          </and>
        </enabledWhen>
      </page>
  </extension>
   
</plugin>
