<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension point="org.eclipse.ui.popupMenus">

      <objectContribution id="enableNatureAction"
                          objectClass="org.eclipse.core.resources.IProject"
                          adaptable="true">
         <action id="com.wuetherich.osgi.ds.annotations.enableNatureAction"
                 class="com.wuetherich.osgi.ds.annotations.internal.actions.EnableNatureAction"
                 label="Enable DS Annotations"
                 style="push"
	             menubarPath="org.eclipse.ui.projectConfigure/additions"
                 enablesFor="+"/>
         <visibility>
           <and>
             <objectState name="open" value="true"/>
             <not>
               <objectState name="nature" value="com.wuetherich.osgi.ds.annotations.dsAnnotationNature"/>
             </not>
           </and>
         </visibility>
      </objectContribution>
   </extension>
   
      <extension point="org.eclipse.ui.popupMenus">

      <objectContribution id="disableNatureAction"
                          objectClass="org.eclipse.core.resources.IProject"
                          adaptable="true">
         <action id="com.wuetherich.osgi.ds.annotations.disableNatureAction"
                 class="com.wuetherich.osgi.ds.annotations.internal.actions.DisableNatureAction"
                 label="Disable DS Annotations"
                 style="push"
	             menubarPath="org.eclipse.ui.projectConfigure/additions"
                 enablesFor="+"/>
         <visibility>
           <and>
             <objectState name="open" value="true"/>
             <objectState name="nature" value="com.wuetherich.osgi.ds.annotations.dsAnnotationNature"/>
           </and>
         </visibility>
      </objectContribution>
   </extension>
   
   <!-- define the preferences page -->
   <extension
       point="org.eclipse.ui.preferencePages">
     <page
          class="com.wuetherich.osgi.ds.annotations.internal.preferences.DsAnnotationsPropertyAndPreferencePage"
          id="com.wuetherich.osgi.ds.annotations.ui.preferences"
          name="DS Annotations" 
          category="org.eclipse.pde.ui.MainPreferencePage"/>
   </extension>
 
  <extension
         point="org.eclipse.ui.propertyPages">
      <page
          class="com.wuetherich.osgi.ds.annotations.internal.preferences.DsAnnotationsPropertyAndPreferencePage"
          id="com.wuetherich.osgi.ds.annotations.ui.properties"
          category="org.eclipse.pde.internal.ui.properties.pluginDevelopmentPage"
          name="DS Annotations" >
        <enabledWhen>
          <and>
            <adapt type="org.eclipse.core.resources.IProject">
              <test property="org.eclipse.core.resources.projectNature"
                    value="com.wuetherich.osgi.ds.annotations.dsAnnotationNature"/>
            </adapt>
          </and>
        </enabledWhen>
      </page>
  </extension>
   
</plugin>
