<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="target" sequenceNumber="0">
<locations>
<location path="D:\development\eclipse\eclipse-SDK-3.6.2-win32-x86_64" type="Profile"/>
</locations>
</target>
