<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension 
   	id="dsAnnotationNature" 
   	name="dsAnnotationNature" 
   	point="org.eclipse.core.resources.natures"> 
      <runtime> 
         <run class="com.wuetherich.osgi.ds.annotations.internal.DsAnnotationNature"/> 
      </runtime> 
      <builder id="com.wuetherich.osgi.ds.annotations.dsAnnotationBuilder"/> 
   </extension>

   <extension id="dsAnnotationBuilder" name="dsAnnotationBuilder"
      point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="com.wuetherich.osgi.ds.annotations.internal.builder.DsAnnotationBuilder"/>
      </builder>
   </extension>
   
   <extension id="dsAnnotationProblem" point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   
</plugin>
